@font-face {
 font-family: 'Champagne';
 src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/Champagne.ttf');
 src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/Champagne.ttf?#iefix') format('embedded-opentype'),
      url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/Champagne.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'ChampagneItalic';
 src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneItalic.ttf');
 src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneItalic.ttf?#iefix') format('embedded-opentype'),
      url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneItalic.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'ChampagneBold';
 src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBold.ttf');
 src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBold.ttf?#iefix') format('embedded-opentype'),
      url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'ChampagneBoldItalic';
 src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBoldItalic.ttf');
 src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBoldItalic.ttf?#iefix') format('embedded-opentype'),
      url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBoldItalic.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

body {
	background-color: #616161;

	text-align: center;
	color: #73C9C9;
	/*color: #5E7DAB;*/

	/*font-family: 'Shrikhand', cursive;*/


}

#cour-text {
	font-size: 120px;
	font-family: 'ChampagneBoldItalic';
	margin-top: 50px;

}
#cour-icon {
	width: 300px;
	height: 300px;
}

#panel-h3 {
	font-size: 90px;
 	font-family: 'ChampagneBold';


}

#today-btn {
	font-size: 90px;
	background-color: #314E55;
	margin-bottom: 25px;
	border-radius: 40px;
	color: #ECF0F1;

}
#today-btn:hover {
	color: #F58CAC;
}

#header-container {
	margin-left: 20%;
	border-bottom: solid 3px #F58CAC;
}

#cour-icon-going-out {
	width: 90px;
	height: 90px;
	float: left;
	margin: 5px 20px;
}

#going-out-head {
	font-family: 'ChampagneBold';
	font-size: 60px;
	float: left;
}

#nav-btns {
	float: right;
	color: #73C9C9;
	margin: 40px 10px 0px 0px;
	font-size: 18px;

}

#going-out-content {
	margin: 40px 20px;
}

.panel-going-out {
	background-color: #314E55;
	border-color: #F58CAC;
	/*margin-top: 40px;*/
	font-family: 'ChampagneBold';
	border-radius: 25px;

}